@font-face{
	font-family: comical;
	src: url('../fonts/animeace2_reg.otf');
}

body{
	background-color: black;
}

.main{
 	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}

.ryu{
	width: 659px;
	height: 494px;
}

.ryu-ready,
.ryu-still,
.ryu-throwing,
.ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready,
.ryu-throwing,
.ryu-cool {
	display: none;
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken,
.ryu-ready,
.ryu-still,
.ryu-throwing,
.ryu-cool {
	background-repeat: no-repeat;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px; 
	height: 90px;
	float: left;
	position: absolute;
	display: none;
	z-index: 10;
	top: 167px;
	left: 520px;
}

.content{
	font-family: comical;
	font-weight: 300;
	font-size: 24px;
	line-height: 44px;
	width: 650px;
	height: 450px;
	position: absolute;
	left: 650px;
	top: 55px;
	display: none;   
}

.content p{
	width: 50%;
}

.content p+p{
	padding-left: 260px;
}